# =============================================
# ПАРАМЕТРЫ ПОДКЛЮЧЕНИЯ К RABBITMQ
# =============================================
RABBITMQ_URL=amqp://admin:admin@111.111.11.111:1111/
QUEUE_NAME = statScraper
# =============================================
# ПУТЬ ДО EXCEL ФАЙЛА
# =============================================
EXCEL_PATH = "path"
